<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">

        {{#if preheader }}
        <span class="preheader">
          {{ preheader }}
        </span>
        {{/if}}

        {{#if preheader-notice}}
        {{> header-notice-open }}
          <p>
            {{{ preheader-notice }}}
          </p>
        {{> header-notice-close }}
        {{/if}}

        {{> axosoft-logo }}

        <table class="main">

          {{>
            banner-row
            link='https://www.gitkraken.com'
            image='email-banner-1.jpg'
          }}

          <tr>
            <td class="wrapper">
              <table>
                <tr>
                  <td class="light-inner">
                    <h1 class="align-center">
                      {{{ header }}}
                    </h1>

                    {{ body }}

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">

          {{> footer-address }}

          {{#if footer-notice }}
          {{> footer-notice-open }}
            <p>
              {{{ footer-notice }}}
            </p>
          {{> footer-notice-close }}
          {{/if}}

        </div>

      </div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>
